body {
    color:rgb(0, 0, 0);
    background:rgb(124, 255, 92);
    margin: 3px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 1px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0)
}

.chamada{
    background:rgb(154, 255, 171);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1{
    font-size: 35px;
}

p {
    font-size: 20px;
}
img{
    height:150px
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px
}

section{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(0, 0, 0)
}

.categoria h2{
    color: rgb(0, 0, 0);
}

.categoria h3{
    color: rgb(0, 0, 0);
}